:root {
  --blue: #0d1b2a;
  --silver: #e0e1dd;
  --orange: #faa613;
  --green: #c2f261;
  --pink: #ea526f;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Dela Gothic One", sans-serif;
}

body {
  color: #e0e1dd;
  background: var(--silver);
}

h1 {
  color: #fff;
}

p {
  color: var(--silver);
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 16px;
  filter: drop-shadow(10px 10px 0px var(--blue));
  transition: all 0.3s;
}

.info-screen {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background: var(--orange);
  color: #000;
  font-size: 1.5em;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #000;
  color: var(--orange);
  filter: drop-shadow(10px 10px 0px var(--green));
}

#game-intro {
  background: #fff;
}

.intro__title {
  font-size: 4rem;
  color: var(--green);
  filter: drop-shadow(10px 10px 0px var(--blue));
}

.intro__img {
  width: 100px;
  height: auto;
}

#game-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-stats {
  height: 100px;
  width: 800px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stats__label {
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.stats__item {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#game-screen {
  height: 900px;
  width: 800px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.player {
  transform: scaleX(-1);
}

.lane {
  height: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enemy {
  height: auto;
  width: 80px;
}

.reverse {
  transform: scaleX(-1);
}

#game-over {
  display: none;
}

.game-over--highscore {
  background-color: var(--green);
  filter: drop-shadow(10px 10px 0px var(--orange));
}

.game-over--normal {
  background-color: var(--pink);
  filter: drop-shadow(10px 10px 0px var(--orange));
}

.game-over__img {
  width: 100px;
  height: auto;
}

#game-victory {
  display: none;
  border-radius: 16px;
  background-color: var(--green);
  color: var(--blue);
}

#game-over__title {
  filter: drop-shadow(10px 10px 0px var(--blue));
}

.victory__title {
  color: var(--white);
  filter: drop-shadow(10px 10px 0px var(--orange));
}

.gameVictory__img {
  width: 300px;
  height: auto;
}
